<template>
  <div class="page-header clear-filter" filter-color="">
    <div class="page-header-image"
         style="background-image: url('img/bg_dark.jpeg');">
    </div>
    <div class="content">
      <div class="container">
        <table width="100%" v-if="role == 'student'">
          <thead>
            <td>Modul</td>
            <td>Prüfungen</td>
          </thead>
          <tbody>
            <tr v-for="subject in subjects" :key="subject._id" :data-id="subject._id">
              <td>{{subject.title}}</td>
              <td>
                <table width="100%">
                  <tr v-for="exam in subject.exams" :key="exam._id" :data-id="exam._id" v-if="exam.date">
                    <td>{{exam.date}}</td>
                    <td>{{exam.room}}</td>
                    <td>
                      <a @click="registerExam(subject._id, exam._id, false)" v-if="!checkForRegistration(subject._id, exam._id)">Anmelden</a>
                      <a @click="registerExam(subject._id, exam._id, true)" v-if="checkForRegistration(subject._id, exam._id)" class="red">Abmelden</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>

        <table width="100%" v-if="role == 'professor'">
          <thead>
            <td>Modul</td>
            <td>Prüfungen</td>
          </thead>
          <tbody>
            <tr v-for="subject in subjects" :key="subject._id" :data-id="subject._id">
              <td>{{subject.title}}</td>
              <td>
                <table width="100%">
                  <tbody>
                    <tr v-for="exam in subject.exams" :key="exam._id" :data-id="exam._id" v-if="exam.date">
                      <td>
                        <input type="text" name="" id="" :value="exam.date" readonly/>
                      </td>
                      <td>
                        <input type="text" name="" id="" :value="exam.room" readonly/>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <a @click="addRow(subject._id)">Hinzufügen</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
<script>
import { Card, Button, FormGroupInput } from '@/components';
export default {
  name: 'Exams',
  bodyClass: 'login-page',
  components: {
    Card,
    [Button.name]: Button,
    [FormGroupInput.name]: FormGroupInput
  },
  // data() {
  //   return {
  //     user: {}
  //   };
  // },
  computed: {
    user() {
      return this.$store.state.user;
    },
    role() {
      return this.$store.state.user.group;
    },
    subjects() {
      if (this.role == "student") {
        return this.$store.state.subjects;
      } else if (this.role == "professor") {
        return this.$store.state.subjects.data;
      }
    }
  },
  beforeMount() {
    this.renderModules();
  },
  methods: {
    renderModules() {
      const that = this;
      if (sessionStorage.getItem('token')) {
        const API = this.$API;
        that.$http
          .get(API + 'subjects', {
            headers: {
              token: sessionStorage.getItem('token')
            }
          })
          .then(function(res) {
            that.$store.state.subjects = res.data;
            // that.$store.state.subjects.append([]);
          })
          .catch(function(res) {
            console.log(res.data);
            that.$router.push('/login');
          });
        that.$http
          .get(API + 'user', {
            headers: {
              token: sessionStorage.getItem('token')
            }
          })
          .then(function(res) {
            that.$store.state.user = res.data;
            // that.$store.state.subjects.append([]);
          })
      } else {
        that.$router.push('/login');
      }
    },
    registerExam(subject, exam, unregister) {
      const that = this;
      const API = this.$API + 'subjects/' + subject + '/exams/' + exam;
      if (unregister) {
        this.$http.delete(API, {
          headers: {
            token: sessionStorage.getItem('token')
          }
        });
      } else {
        this.$http.post(API, {}, {
          headers: {
            token: sessionStorage.getItem('token')
          }
        });
      }
      that.renderModules();
      that.$mount();
    },
    // changeExam(subject, exam) {
    //   const $ = this.$jquery;
    //   const API = this.$API;
    //   const post = this.$http.post;
    //   $('[data-id="' + exam + '"]').find('input').attr('readonly', !$('[data-id="' + exam + '"]').find('input').attr('readonly'));
    //   if ($('[data-id="' + exam + '"]').find('a').text() == "Ändern") {
    //     $('[data-id="' + exam + '"]').find('a').text("OK")
    //   } else if ($('[data-id="' + exam + '"]').find('a').text() == "OK") {
    //     post(API + 'subjects/' + subject + '/exams/', { _id: exam, date: $('[data-id="' + exam + '"]').find('input')[0].value, room: $('[data-id="' + exam + '"]').find('input')[1].value }, {
    //       headers: {
    //         token: sessionStorage.getItem('token')
    //       }
    //     })
    //     $('[data-id="' + exam + '"]').find('a').text("Ändern");
    //   }
    // },
    addRow(subjectId) {
      const that = this;
      const $ = this.$jquery;
      $('[data-id="' + subjectId + '"]').find('tr:last-child').html('<td colspan="2" style="padding: 15px 0 5px;"><input value="Datum" type="text" style="width: calc(50% - 10px);margin-right:10px;margin-bottom: 20px;padding:5px;background:transparent;color:white;border:1px solid white;"/>' +
      '<input type="text" value="Raum" style="width: calc(50% - 10px);margin-left:10px;margin-bottom: 20px;padding:5px;background:transparent;color:white;border:1px solid white;"/><br><a style="padding:5px;border:1px solid white;margin-top:10px;cursor:pointer;">Hinzufügen</a></td>');
      $('[data-id="' + subjectId + '"]').on('click', 'a', function() {
        const subject = $(this).parents('tr[data-id]').data('id');
        const time = $(this).parent().find('input:eq(0)').val();
        const room = $(this).parent().find('input:eq(1)').val();
        console.log(subject);
        that.$http.post(that.$API + 'subjects/' + subject + '/exams/', { date: time, room: room }, { headers: { token: sessionStorage.getItem('token') } } ).catch(function(err) {
          alert(err + '\nUngültige Eingabe');
        });
        that.renderModules();
        that.$mount();
      });
    },
    checkForRegistration(subject, exam) {
      let isRegistered = false;
      const that = this;
      for (let ex in this.user.participations) {
        if (that.user.participations[ex].subjectId == subject && that.user.participations[ex].examId == exam) isRegistered = true;
      }
      return isRegistered;
    }
  }
};
</script>
<style scoped lang="scss">
.page-header-image {
  filter: brightness(0.7);
}
td {
  border: 1px solid white;
  padding: 10px 20px;
}
a {
  /*border: 1px solid rgba(255,255,255,.5);*/
  /*padding: 4px 15px;*/
  position: relative;
  cursor: pointer;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: white;
  }
  &.red {
    color: red !important;
    &::before {
      background-color: red;
    }
  }
}
input[readonly] {
  background: transparent;
  border-color: transparent;
  text-align: center;
  outline: none;
  color: white;
}
</style>
