<template>
  <div class="page-header clear-filter" filter-color="">
    <div class="page-header-image"
         style="background-image: url('img/bg_dark.jpeg');">
    </div>
    <div class="content">
      <div class="container">
        <table width="100%" v-if="role == 'student'">
          <thead>
            <td>Modul</td>
            <td>Prüfungsdatum</td>
            <td>Raum</td>
            <td>Note</td>
          </thead>
          <tbody>
            <tr v-for="subject in user.participations" :key="subject._id">
              <td>{{subject.title}}</td>
              <td>{{subject.date}}</td>
              <td>{{subject.room}}</td>
              <td>{{subject.mark}}</td>
            </tr>
          </tbody>
        </table>

        <table width="100%" v-if="role == 'professor'">
          <thead>
            <td>Modul</td>
            <td>Prüfungsdatum</td>
            <td>Raum</td>
            <td>Teilnehmer</td>
          </thead>
          <tbody>
            <tr v-for="subject in user.creations" :key="subject._id" :data-id="subject._id">
              <td>{{subject.title}}</td>
              <td>{{subject.date}}</td>
              <td>{{subject.room}}</td>
              <td>
                <table v-if="subject.participants.length > 0">
                  <thead>
                    <td>ID</td>
                    <td>E-Mail</td>
                    <td>Note</td>
                  </thead>
                  <tbody>
                    <tr v-for="student in subject.participants" :key="student.user._id" :data-id="student.user._id">
                      <td>{{student.user._id}}</td>
                      <td>{{student.user.email}}</td>
                      <td v-if="student.mark"><input type="text" :value=student.mark style="width:80px"/><a @click="enterGrade(subject.title, subject._id, student.user._id)" style="display: block;padding: 5px;margin-top: 10px;border: 1px solid white;cursor: pointer;">Ändern</a></td>
                      <td v-else><input type="text" placeholder="Note" style="width:80px"/><a @click="enterGrade(subject.title, subject._id, student.user._id)" style="display: block;padding: 5px;margin-top: 10px;border: 1px solid white;cursor: pointer;">Eintragen</a></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
<script>
import { Card, Button, FormGroupInput } from '@/components';
export default {
  name: 'Grades',
  bodyClass: 'login-page',
  components: {
    Card,
    [Button.name]: Button,
    [FormGroupInput.name]: FormGroupInput
  },
  // data() {
  //   return {
  //     user: {}
  //   };
  // },
  computed: {
    user() {
      return this.$store.state.user;
    },
    role() {
      return this.$store.state.user.group;
    },
    subjects() {
      return this.$store.state.subjects;
    }
  },
  beforeMount() {
    this.initialize();
  },
  methods: {
    initialize() {
      let that = this;
      if (sessionStorage.getItem('token')) {
        const API = this.$API;
        that.$http
          .get(API + 'user', {
            headers: {
              token: sessionStorage.getItem('token')
            }
          })
          .then(function(res) {
            that.$store.state.user = res.data;
          })
          .catch(function(res) {
            console.log(res.data);
            that.$router.push('/login');
          });
          that.$http
          .get(API + 'subjects', {
            headers: {
              token: sessionStorage.getItem('token')
            }
          })
          .then(function(res) {
            that.$store.state.subjects = res.data;
          })
      } else {
        that.$router.push('/login');
      }
    },
    getSubjectId(subject) {
      let subjectId = -1;
      const subjects = this.subjects;
      console.log(subject); 
      for(let i in subjects.data) {
        if (subjects.data[i].title == subject) subjectId = subjects.data[i]._id
      }
      return subjectId
    },
    enterGrade(subject, examId, studentId) {
      let subjectId = this.getSubjectId(subject);
      let mark = this.$jquery('[data-id="' + examId + '"] [data-id="' + studentId + '"] input').val();
      this.$http.post(this.$API + 'subjects/' + subjectId + '/exams/' + examId + '/userId/' + studentId + '/mark', { mark: mark }, { headers: { token: sessionStorage.getItem('token') } } ).catch(function() {
        alert("Ungültiger Wert");
      });
    },
    submitForm() {
      const API = this.$API;
      const that = this;
      that.$http.post(API + 'user', that.user, {
        headers: {
          token: sessionStorage.getItem('token')
        }
      });
    }
  }
};
</script>
<style scoped lang="scss">
.page-header-image {
  filter: brightness(0.7);
}
td {
  border: 1px solid white;
  padding: 10px 20px;
}
</style>
