<template>
  <div class="page-header clear-filter" filter-color="">
    <div class="page-header-image"
         style="background-image: url('img/bg_dark.jpeg');">
    </div>
    <div class="content">
      <div class="container">
        <div class="col-md-5 ml-auto mr-auto">
          <card type="login" plain>
            <div slot="header" class="logo-container">
              <img v-lazy="'img/hippo.png'" alt="">
            </div>
            <form action="" @submit="submitForm()">
              <fg-input class="no-border input-lg"
                        addon-left-icon="now-ui-icons users_single-02"
                        placeholder="E-Mail"
                        v-model="email">
              </fg-input>

              <fg-input class="no-border input-lg"
                        addon-left-icon="now-ui-icons ui-1_lock-circle-open"
                        placeholder="Passwort"
                        type="password"
                        v-model="password">
              </fg-input>

              <fg-input class="input-lg"
                        type="submit"
                        value="Login">
              </fg-input>

            </form>
            <!--<template slot="raw-content">-->
              <!--<div class="pull-center">-->
                <!--<h6>-->
                  <!--<a href="#pablo" class="link footer-link">Create Account</a>-->
                <!--</h6>-->
              <!--</div>-->
            <!--</template>-->
          </card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Card, Button, FormGroupInput } from '@/components';
export default {
  name: 'login-page',
  bodyClass: 'login-page',
  components: {
    Card,
    [Button.name]: Button,
    [FormGroupInput.name]: FormGroupInput
  },
  data() {
    return {
      email: '',
      password: ''
    };
  },
  methods: {
    submitForm() {
      let that = this;
      const API = that.$API;
      that.$http
        .post(API + 'login', {
          email: that.email,
          password: that.password
        })
        .then(function(res) {
          sessionStorage.setItem('token', res.data.token);
          setTimeout(() => {
            that.$router.push('/grades');
          }, 500);
        })
        .catch(function(err) {
          alert(err);
        });
    }
  }
};
</script>
<style scoped lang="scss">
.page-header-image {
  filter: brightness(0.7);
}
</style>
