<template>
<div class="page-header clear-filter" filter-color="">
  <div class="page-header-image"
       style="background-image: url('img/bg_dark.jpeg');">
  </div>
  <div class="content">
    <div class="container">
      <div class="col-md-5 ml-auto mr-auto">
        <card type="login" plain>
          <form action="" @submit="submitForm()">
            <fg-input class="no-border input-lg"
                      :placeholder="user.firstname"
                      label="Vorname"
                      v-model="user.firstname">
            </fg-input>

            <fg-input class="no-border input-lg"
                      label="Nachname"
                      :placeholder="user.lastname"
                      v-model="user.lastname">
            </fg-input>

            <fg-input class="no-border input-lg"
                      label="Straße"
                      :placeholder="user.street"
                      v-model="user.street">
            </fg-input>

            <fg-input class="no-border input-lg"
                      label="PLZ"
                      :placeholder="user.postcode"
                      v-model="user.postcode">
            </fg-input>

            <fg-input class="no-border input-lg"
                      label="Stadt"
                      :placeholder="user.city"
                      v-model="user.city">
            </fg-input>

            <fg-input class="no-border input-lg"
                      label="Telefon"
                      :placeholder="user.phone"
                      v-model="user.phone">
            </fg-input>

            <div style="width: 100%; height: 100px;"></div>

            <fg-input class="input-lg"
                      type="submit"
                      value="Aktualisieren">
            </fg-input>

          </form>

        </card>
      </div>
    </div>
  </div>
</div>
</template>
<script>
import { Card, Button, FormGroupInput } from '@/components';
export default {
  name: 'Overview',
  bodyClass: 'login-page',
  components: {
    Card,
    [Button.name]: Button,
    [FormGroupInput.name]: FormGroupInput
  },
  // data() {
  //   return {
  //     user: {}
  //   };
  // },
  computed: {
    user() {
      return this.$store.state.user;
    }
  },
  beforeMount() {
    let that = this;
    if (sessionStorage.getItem('token')) {
      const API = this.$API;
      that.$http
        .get(API + 'user', {
          headers: {
            token: sessionStorage.getItem('token')
          }
        })
        .then(function(res) {
          that.$store.state.user = res.data;
        })
        .catch(function(res) {
          console.log(res.data);
          that.$router.push('/login');
        });
    } else {
      that.$router.push('/login');
    }
  },
  methods: {
    submitForm() {
      const API = this.$API;
      const that = this;
      that.$http.post(API + 'user', that.user, {
        headers: {
          token: sessionStorage.getItem('token')
        }
      });
    }
  }
};
</script>
<style scoped lang="scss">
.page-header-image {
  filter: brightness(0.7);
}
</style>
