<template>
  <div class="page-header clear-filter" filter-color="">
    <div class="page-header-image"
         style="background-image: url('img/bg_dark.jpeg');">
    </div>
    <div class="content">
      <div class="container">
        <card type="login" plain>
          <form action="" @submit="submitForm()">
            <fg-input class="no-border input-lg"
                      placeholder="Suchbegriff"
                      v-model="query">
            </fg-input>
            <fg-input class="input-lg"
                      type="submit"
                      value="Suche">
            </fg-input>

          </form>
        </card>

        <table width="100%" v-if="hasContent">
          <thead>
            <td>Vorname</td>
            <td>Nachname</td>
          </thead>
          <tbody>
            <tr v-for="result in results" :key="result._id">
              <td>{{result.firstname}}</td>
              <td>{{result.lastname}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
<script>
import { Card, Button, FormGroupInput } from '@/components';
export default {
  name: 'Search',
  bodyClass: 'login-page',
  components: {
    Card,
    [Button.name]: Button,
    [FormGroupInput.name]: FormGroupInput
  },
  data() {
    return {
      results: [],
      query: ""
    };
  },
  computed: {
    user() {
      return this.$store.state.user;
    },
    role() {
      return this.$store.state.user.group;
    },
    subjects() {
      return this.$store.state.subjects;
    },
    hasContent() {
      return this.results.length > 0;
    }
  },
  beforeMount() {
    this.initialize();
  },
  methods: {
    initialize() {
      let that = this;
      if (sessionStorage.getItem('token')) {
        const API = this.$API;
        that.$http
          .get(API + 'user', {
            headers: {
              token: sessionStorage.getItem('token')
            }
          })
          .then(function(res) {
            that.$store.state.user = res.data;
            if (res.data.group != "professor") that.$router.push('/overview');
          })
          .catch(function(res) {
            console.log(res.data);
            that.$router.push('/login');
          });
      } else {
        that.$router.push('/login');
      }
    },
    submitForm() {
      const API = this.$API;
      const that = this;
      if (that.query == "") return alert("Kein Suchbegriff");
      that.$http.post(API + 'search/user', { search: { $gt: that.query }, fields: ["firstname", "lastname"] }, {
        headers: {
          token: sessionStorage.getItem('token')
        }
      }).then(function(res) {
        that.results = res.data.users;
      }).catch(function() {
        alert("Keine Suchergebnisse");
      });
    }
  }
};
</script>
<style scoped lang="scss">
.page-header-image {
  filter: brightness(0.7);
}
td {
  border: 1px solid white;
  padding: 10px 20px;
}
</style>
