<template>
  <div id="app">
    <router-view name="header"/>
    <div>
      <router-view/>
    </div>
  </div>
</template>
<script>
export default {};
</script>

<style lang="scss">
#app .navbar {
  background-color: black !important;
  .navbar-brand {
    font-size: 1.2rem;
  }
  .navbar-nav .nav-link:not(.btn) {
    font-size: 0.9rem;
  }
  .navbar-nav .nav-link:not(.btn) i.now-ui-icons {
    top: 2px;
  }
}
.login-page {
  overflow-y: scroll;
}
.page-header {
  max-height: none !important;
}
</style>
