<template>
<navbar position="fixed"
        type="primary"
        :transparent="transparent"
        :color-on-scroll="colorOnScroll"
        menu-classes="ml-auto">
  <template slot-scope="{toggle, isToggled}">
    <router-link class="navbar-brand" to="/grades">
      HipPOS
    </router-link>
  </template>
  <template slot="navbar-menu">
    <li v-if="role == 'professor'" class="nav-item">
      <router-link class="nav-link" to="/search">
        <i class="now-ui-icons ui-1_zoom-bold" aria-hidden="true"></i>
        Suche
      </router-link>
    </li>
    <li class="nav-item">
      <router-link class="nav-link" to="/">
        <i class="now-ui-icons business_badge" aria-hidden="true"></i>
        Persönliche Daten
      </router-link>
    </li>
    <li class="nav-item">
      <router-link class="nav-link" to="/grades">
        <i class="now-ui-icons education_paper" aria-hidden="true"></i>
        Prüfungsübersicht
      </router-link>
    </li>
    <li class="nav-item">
      <router-link class="nav-link" to="/exams">
        <i class="now-ui-icons education_agenda-bookmark" aria-hidden="true"></i>
        Prüfungsverwaltung
      </router-link>
    </li>
    <li class="nav-item">
      <span class="nav-link" @click="logout()">
        <i class="now-ui-icons sport_user-run" aria-hidden="true"></i>
        Logout
      </span>
    </li>
  </template>
</navbar>
</template>

<script>
import { DropDown, NavbarToggleButton, Navbar, NavLink } from '@/components';
export default {
  name: 'main-navbar',
  props: {
    transparent: Boolean,
    colorOnScroll: Number
  },
  components: {
    DropDown,
    Navbar,
    NavbarToggleButton,
    NavLink
  },
  methods: {
    logout() {
      sessionStorage.clear();
      this.$router.push('/login');
    }
  },
  computed: {
    role() {
      return this.$store.state.user.group;
    }
  }
};
</script>

<style>
.nav-link {
  cursor: pointer;
}
</style>
